.categories-wrapper {
    margin-bottom: 80px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%; }
    .categories-wrapper .category + .category {
      margin-left: 20px; }
    .categories-wrapper .category {
      width: 150px;
      border: 2px solid #74e8ee;
      color: #000000;
      font-family: Helvetica, sans-serif;
      font-weight: 500;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      transition: all .4s;
      cursor: pointer;
      text-transform: uppercase; }
      .categories-wrapper .category:hover {
        color: #000000;
        font-weight: 600; }
    .categories-wrapper .category.active {
      background: #0ba2bd;
      color: #ffffff;
  font-weight: 600; }

  .category {
      background-color: aliceblue;
  }