.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Title {
    font-size: 30px;
    line-height: 65px;
    font-family: 'Pacifico', cursive;
    color: rgb(110, 0, 129);
    padding: 5px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}